@page
@model PictureGame.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Picture Game!</h1>
    <form method="post">
        <div>
            Username: <input type="text" asp-for="user.Username" name="Username" />
        </div>
        <div>
            Name: <input type="text" asp-for="user.Name" name="Name" />
        </div>
        <div>
            Password: <input type="password" asp-for="user.Password" name="Password" />
        </div>
        <button type="submit">Login</button>
    </form>
    <h2 class="display-4">Dont have user?</h2>
    <a asp-page="/Register">Register</a>
</div>
