@page
@model PictureGame.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Picture Game!</h1>
    <form method="post">
        <div>
            Username: <input type="text" asp-for="user.username" name="username" />
        </div>
        <div>
            Password: <input type="password" asp-for="user.password" name="password" />
        </div>
        <button type="submit">Login</button>
    </form>
    <h2 class="display-4">Dont have user?</h2>
    <a asp-page="/Register">Register</a>
</div>
