@page
@model PictureGame.Pages.LogoutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Logout";
}

<h1 class="display-4">Register</h1>
<div class="text-center">
    Logging out...
</div>
