@page
@model PictureGame.Pages.MenuModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Menu page";
}
<form method = "post">
<p>Logged in as: @Model.username</p>
<h1 class="display-4">THE PICTURE GAME</h1>
<button> 
        <h4><a href="Game">New Game</a></h4>
</button>
</form>
<br />
<button> 
    <h4><a href="LeaderBoard">LeaderBoard</a></h4>
</button>
<br />
<button> 
    <h4><a href="Logout">Log out</a></h4>
</button>
