@page
@model PictureGame.Pages.MenuModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Menu page";
}

<h1 class="display-4">Welcome to the Menu Page!</h1>
<a asp-page="./Game">New Game</a>
<a asp-page="./LeaderBoard">LeaderBoard</a>
<a asp-page="./Index">Back</a>