@page
@model PictureGame.Pages.RegisterModel
@{
    ViewData["Title"] = "Register page";
}

<form method="post">
        <div>
            Username: <input type="text" asp-for="user.Username" name="Username" />
        </div>
        <div>
            Name: <input type="text" asp-for="user.Name" name="Name" />
        </div>
        <div>
            Password: <input type="password" asp-for="user.Password" name="Password" />
        </div>
        <button type="submit">Register</button>
        @if(Model.Errors.Length > 0)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var erro in Model.Errors)
                {
                    <li>@erro</li>
                }
            </ul>
        </div>
    } 
    </form>
